#mainPage {
}

#teamForm {
    padding-left: 50px;
}

.addTeamButton, .addBoardButton {
    margin-left: 10px;
}

.spinn {
    text-align: center;
    display: flow-root;
  }

.teamContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;  
}
.textFormContainer{
    padding: 0.5%;
    width: 25%;
    display: flex;
    flex-direction: row;
}

.teamsContainer{
    margin-left: 7%;
    margin-right: 7%;
}

.teamInput{
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    width: 20%;
}

.teamMember{
    display: flex;
    padding: 1%;
    flex-direction: column;
    align-items: center;
}
.teamMembers{
    display: flex;
    flex-direction: row;
}