#mainPage {
}

#teamForm {
    padding-left: 50px;
}

.addTeamButton, .addBoardButton {
    margin-left: 10px;
}

.spinn {
    text-align: center;
    display: flow-root;
  }

.teamContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;  
}
.textFormContainer{
    padding: 0.5%;
}

.teamsContainer{
    margin-left: 7%;
    margin-right: 7%;
}

